<h1> Create a New Post </h1>

<form action="/posts" method="POST">
	<input type="text" placeholder="Post Name" name="post[name]" id="name" value="">
	<input type="text" placeholder="Content" name="post[content]" id="content" value="">

	<br></br>
	<input type="submit" name="submit" id="Create Post" value="submit">
</form>
